/* nav a{
  font-family: Arial, Helvetica, sans-serif;

  background-color: lightgrey;

  text-align: center;
  margin: 10px;
  padding: 10px;
} */

/* h1 {
  text-align: center;
}

h2 {
  text-align: center;
} */

body {
  font-family: Arial, Helvetica, sans-serif;
}

.error {
  display: none;
  color: red;
}

.results {
  display: none;
}

.row {
  margin-top:  20px;
  margin-bottom:  20px;
}

/* h5 {
  display: none;
} */

/* .pokemonSprites {
  display: flex;
  flex-direction: row;

} */